<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de QRCodes</title>
</head>
<body>
<h1>QRCodes Existentes</h1>

<ul>
    <li th:each="qr : ${qrcodes}">
        <span th:text="${qr.nome_arquivo}"></span><br>
        <img th:src="@{/qr/image/{id}(id=${qr.id})}" width="150" alt="QR Code"><br>
        <form th:action="@{/Admin/delete}" method="post" style="display:inline;">
            <input type="hidden" name="id" th:value="${qr.id}" />
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </li>

</ul>

<a href="/Admin">Voltar ao menu</a>
</body>
</html>
