<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de QRCodes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>QRCodes Existentes</h1>

<ul>
    <li th:each="qr : ${qrcodes}" class="qr-item">
        <span th:text="${qr.nome_arquivo}"></span><br>
        <img th:src="@{/qr/image/{id}(id=${qr.id})}" width="150" alt="QR Code"><br>




        <form th:action="@{/QrGenerate/delete}" method="post" class="qrform">
            <input type="hidden" name="id" th:value="${qr.id}" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a th:href="@{/download/qr/image/{id}(id=${qr.id})}" class="btn btn-primary" download>
                Baixar
            </a>
        </form>
        <a th:href="@{/form}" class="btn btn-primary">
            Ir Ao Formulário
        </a>
    </li>

</ul>

<a href="/AdminMenu/QrGenerate">Voltar ao menu</a>
</body>
</html>
